<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @track.name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= link_to @track.artist.name, artist_path(@track.artist) %>
</p>

<p>
  <strong>Plays:</strong>
  All time: <%= @track.plays.count %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
