= form_for(@play) do |f|
  .field
    = f.label :track_id
    %br/
    = f.number_field :track_id
  .field
    = f.label :album_id
    %br/
    = f.text_field :album_id
  .field
    = f.label :user_id
    %br/
    = f.number_field :user_id
  .field
    = f.label :played_at
    %br/
    = f.datetime_select :played_at
  .actions
    = f.submit class: 'btn btn-primary'
