%table.table
  %tr
    %td
      Time of Play
    %td
      Artist
    %td
      Track
    %td
      Album
    %td
      Playbox
    %td
      DJ Name
  - plays.each do |play|
    %tr
      %td
        = play.played_at
      %td
        - if play.track && play.track.artist
          = link_to play.track.artist.name, artist_path(play.track.artist)
      %td
        - if play.track
          = link_to "#{play.track.name}", track_path(play.track)
      %td
        - if play.album
          = link_to "#{play.album.name}", album_path(play.album)
      %td
        playbox
      %td
        / = link_to play.user.dj_name, user_path(play.user)
        = play.user.inspect

= paginate plays
