<h1>Listing plays</h1>

<table>
  <thead>
    <tr>
      <th>Played at</th>
      <th>Artist</th>
      <th>Track</th>
      <th>Album</th>
      <th>User</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plays.each do |play| %>
    <tr>
      <td><%= play.created_at %></td>
      <td><%= play.track.artist.name %></td>
      <td><%= play.track.name %></td>
      <td><%= play.album.name %></td>
      <td><%= play.user_id %></td>

      <td><%= link_to 'Show', play %></td>
      <td><%= link_to 'Edit', edit_play_path(play) %></td>
      <td><%= link_to 'Destroy', play, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Play', new_play_path %>
