= form_for(@user) do |f|
  .field
    = f.label :dj_name
    %br/
    = f.text_field :dj_name
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name
  .field
    = f.label :last_name
    %br/
    = f.text_field :last_name
  .field
    = f.label :phone_number
    %br/
    = f.text_field :phone_number

  .actions
    = f.submit class: 'btn btn-primary'
