%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Email
      %th DJ Name
      %th Role
  %tbody
    - @users.each do |user|
      %tr
        %td
          %strong= link_to user.real_name, user_path(user)
        %td
          = mail_to user.email do
            %i.fa.fa-envelope-o
            = user.email
        %td
          = user.dj_name.presence || 'none'
        %td
          - if user.role
            = user.role.humanize

= paginate @users
