.page-header
  %h1= @user.name

%dl.dl-horizontal
  %dt Name:
  %dd= @user.real_name
  %dt DJ name:
  %dd= @user.dj_name
  %dt Email:
  %dd
    = mail_to @user.email do
      %i.fa.fa-envelope-o
      = @user.email
  %dt Phone number:
  %dd= @user.phone_number
  %dt Role:
  %dd= @user.role

- if can? :update, @user
  %p
    = link_to 'Edit', edit_user_path(@user)
