%h1
  = @user.dj_name
  %small
    = link_to 'Edit', edit_user_path(@user)

%ul
  %li
    Name:
    = @user.real_name
  %li
    Phone Number:
    = @user.phone_number
  %li
    Role:
    = @user.role
